@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  cursor: pointer;
}
li:hover {
  color: #d81b60;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-track {
  display: flex;
  animation: 10s slide infinite linear;
  width: calc(
    400px * 12
  ); /* 400px is the width of each image, 6 is the number of images */
}

@media (max-width: 640px) {
  .slide-track {
    width: calc(100vw * 12); /* 100vw is the width of the viewport */
  }
}

@media (max-width: 768px) {
  .slide-track {
    width: calc(50vw * 12); /* 50vw is half the width of the viewport */
  }
}

@media (max-width: 1024px) {
  .slide-track {
    width: calc(
      33.33vw * 12
    ); /* 33.33vw is one-third the width of the viewport */
  }
}
