@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  cursor: pointer;
}
li:hover {
  color: #d81b60;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-track {
  animation: slide 10s linear infinite;
}

.animation-paused {
  animation-play-state: paused;
}

.animation-running {
  animation-play-state: running;
}

/* Example slide animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 640px) {
  .slide-track {
    width: calc(100vw * 6); /* 100vw is the width of the viewport */
  }
}

@media (max-width: 768px) {
  .slide-track {
    width: calc(50vw * 6); /* 50vw is half the width of the viewport */
  }
}

@media (max-width: 1024px) {
  .slide-track {
    width: calc(
      33.33vw * 6
    ); /* 33.33vw is one-third the width of the viewport */
  }
}

/* For Transition */
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: top;
}
